DATABASE_URL=postgresql://user:password@localhost:5432/tabit
NEXT_PUBLIC_APP_URL=http://localhost:3000
BETTER_AUTH_SECRET=your_secret_min_32_chars_long
BETTER_AUTH_URL=http://localhost:3000
PLUNK_SECRET_KEY=your_plunk_secret_key
PLUNK_BASE_URL=https://plunk.parthkoshti.com/api
